.container{
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 1.25rem 1rem;
    margin: 0;
    background-color: var(--gray-800);
    color:  var(--white);
    
    line-height: 2.5rem;

    img{
        margin-right: 1rem;
    }
}

